<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>About me</title>
</head>
<body>
    <!--This About Me page contains all the necessary information about the goal of the website!-->
    <h1>Our Goal! 
        <img src="images/goal.gif" 
        alt="Soccer Tournament Logo" width="40" height="40">
        <img src="images/henry.gif" 
        alt="Soccer Tournament Logo" width="50" height="50">
        <img src="images/aguero.gif" 
        alt="Soccer Tournament Logo" width="60" height="60">
        <img src="images/ronald.gif" 
        alt="Soccer Tournament Logo" width="70" height="70">
        <img src="images/rooney.gif" 
        alt="Soccer Tournament Logo" width="80" height="80">
        <a href="/">Go Back Home</a></h1>
    <p>
    This platform allows players to apply for an upcoming soccer tournament scheduled for the winter of 2025. 
    The tournament will feature four groups: A, B, C, and D, and will be held at the iconic Camp Nou field. 
    Players will be randomly selected from the pool of applicants, and those chosen will receive an invitation via email to participate. 
    The tournament promises an exciting competition, with the winning team being awarded gold medals as a symbol of their achievement.
    </p>

    <h2>Camp Nou</h2>
    <!--displays the image of the field the tournament is going to take place-->
    <img id="camp" src="images/campjpg.jpg"> <img  src="images/camp2.jpg">

    <footer>
        <p class="copy">&copy; 2024 Soccer Tournament. All rights reserved.</p>
      </footer>
</body>
</html>