body {
    background-color:brown;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
img {
    max-width: 100px;
    height: auto;
}

.copy {
    font-size: 1rem;  /* Adjust font size as needed */
    padding: 2px;
}

a {
    text-decoration: none;
    color: green;
}
